.contactContainer {
    height: 98vh;
    color: white;
    background-color: #32035a;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    width: 100vw;
}

.contactContainer h4 {
    color: #40F99B;
    font-size: 32px;
    margin-bottom: .5em;
    font-family: 'Radio Canada'
}

.contactContainer h2 {
    margin-top: 1.25em;
}


.contactForm {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em;
    padding: 0em;

}

input,
textarea {
    margin: .5em 1em .75em;
    padding: .75em 2.5em;
    font-size: 18px;
    border: 3px solid #000;
    font-family: 'Radio Canada'
}

textarea {
    height: 10vh;
    resize: none;
}

button {
    padding: .5em;
    font-size: 26px;
    border: none;
    background-color: #32035a;
    font-weight: 700;
    margin-top: .25em;
    width: 95%;
    position: relative;
    left: 20px;
    color: white;
}

button:hover {
    background-color: #43257c;
    color: #40F99B;
}



.contactInfo img {
    width: 60px;
    margin: .5em 1em;

}


.personalContact {
    /* border: 2px solid white; */
    border: 2px solid #64379f;
    /* padding: 0 2em 0 0; */
    background: #32035a;
    border-radius: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 2em;
    width: 25em;
}

.personalContact a {
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration-color: white;
    justify-self: flex-end;
}

.personalContact img {
    /* margin-right: 1em; */
    /* width: 20px; */
    padding: 0;
}

.contactLink {
    color: white;
    font-size: 20px;
    padding: 0;
    justify-self: flex-end;
}

#gmail {
    font-size: 20px;
}

@media (max-width: 1290px) {
    .contactContainer h2 {
        /* font-size: 2px; */
    }

    .contactContainer h4 {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .contactContainer h2 {
        /* font-size: 2px; */
        /* height: 96vh; */
    }

    .contactContainer h4 {
        font-size: 18px;
        text-align: center;
    }

    .personalContact {
        /* padding: 0; */
        width: 20em;
    }

    .contactContainer {
        height: 96vh;
    }
}