@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

.aboutContainer {
    /* border: 1px solid #9448BC */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #40F99B;
    text-align: center;
    background-color: #32035a;
    /* padding: 2em; */
    border-bottom: 5px solid #40F99B;
    min-height: 105vh;
    margin: 0em;
}

.aboutContainer img {
    margin-top: 1em;
}


.aboutParagraph {
    margin: 0 5vw 2em;
    line-height: 42px;
    font-size: 30px;
    color: white;
    font-family: 'Radio Canada'
}

.aboutContainer h4 {
    font-size: 32px;
}

.hobbies {
    font-size: 50px;
}

@media screen and (max-width: 650px) {
    .aboutParagraph {
        font-size: 22px;
        padding: 1em;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .aboutParagraph {
        font-size: 18px;
        padding: 1em;
        text-align: center;
    }
}