.aboutContainer {
    /* border: 1px solid #9448BC */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #40F99B;
    text-align: center;
    background-color: #32035a;
    height: 103vh;
}

h1 {
    font-size: 56px;
    margin: .25em;
    font-family: 'Play', sans-serif;
    font-weight: 400;

}

h2 {
    color: white;
    font-size: 30px;

}

p {
    font-size: 24px;
    /* color: #420264; */
    /* color: #5C038C; */
    /* color: #1B1734; */
    /* color: #af88ff; */
    /* color: #daf */
    color: white;
}

.aboutParagraph {
    margin: 0 5vw;
    line-height: 40px;
}