.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    /* margin: 2em 0; */
    padding: 2em;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    /* border: 3px solid red; */
}

h1 {
    text-align: center;
    font-size: 102px;
    z-index: 500;
    margin: 0;
    margin-top: 13vh;
}

.homeContainer h2 {
    font-size: 68px;
    text-align: center;
    z-index: 500;
    margin: 1em 0;
    font-family: 'Play', sans-serif;
    color: white;
}

.skillIcons {
    width: 175px;
    margin: 2vw;
    z-index: 5;
}

.skillIconContainer {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

.initial {
    position: absolute;
    z-index: 0;
    background: linear-gradient(-45deg, #111, #333, #444, #666);
    background-size: 500%;
    font-size: 92vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 3s ease-in-out infinite;
    -moz-animation: animated_text 3s ease-in-out infinite;
    -webkit-animation: animated_text 3s ease-in-out infinite;
    opacity: .8;

}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

.starContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 98vh;
    overflow: hidden;
}

.star {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 14px;
    height: 4px;
    background-color: #40F99B;
    /* background-color: #8332fa; */
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3.2s linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);

}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: .8;
    }

    30% {
        opacity: .7;
    }

    50% {
        opacity: .2;

    }

    70% {
        opacity: .5
    }

    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }

}

.star:nth-child(1) {
    top: 0;
    right: -10vw;
    left: initial;
    animation-delay: .2s;
    animation-duration: 3.2s;
    width: 10px;
}

.star:nth-child(2) {
    top: 0;
    right: 0vw;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3.8s;
    width: 13px;
}

.star:nth-child(3) {
    top: 0;
    right: 10vw;
    left: initial;
    animation-delay: 3.6s;
    animation-duration: 4.8s;
    width: 9px;
}

.star:nth-child(4) {
    top: 0;
    right: 20vw;
    left: initial;
    animation-delay: 2.2s;
    animation-duration: 3.5s;
    width: 12px;
}

.star:nth-child(5) {
    top: 0;
    right: 30vw;
    left: initial;
    animation-delay: 1.8s;
    animation-duration: 5.6s;
    width: 5px;
}

.star:nth-child(6) {
    top: 0;
    right: 40vw;
    left: initial;
    animation-delay: 3.5s;
    animation-duration: 4.5s;
    width: 10px;
}

.star:nth-child(7) {
    top: 0;
    right: 50vw;
    left: initial;
    animation-delay: 0s;
    animation-duration: 3.5s;
    /* border: yellow 2px solid; */
    /* padding: 1em; */
    width: 7px;
}

.star:nth-child(8) {
    top: 0;
    right: 60vw;
    left: initial;
    animation-delay: 1.5s;
    animation-duration: 3.6s;
    width: 8px;
}

.star:nth-child(9) {
    top: 0;
    right: 70vw;
    left: initial;
    animation-delay: .4s;
    animation-duration: 3s;
    width: 10px;
}

.star:nth-child(10) {
    top: 0;
    right: 80vw;
    left: initial;
    animation-delay: 1.0s;
    animation-duration: 3.4s;
    width: 8px;
}

.star:nth-child(11) {
    top: 0;
    right: -20vw;
    left: initial;
    animation-delay: 3s;
    animation-duration: 4.4s;
    width: 12px;
}

.star:nth-child(11) {
    top: 0;
    right: -30vw;
    left: initial;
    animation-delay: .9s;
    animation-duration: 5.3s;
    width: 8px;
}

.star:nth-child(12) {
    top: 0;
    right: 15vw;
    left: initial;
    animation-delay: 2.9s;
    animation-duration: 3s;
    width: 10px;
}

.star:nth-child(13) {
    top: 0;
    right: 55vw;
    left: initial;
    animation-delay: .9s;
    animation-duration: 3.3s;
    width: 11px;
}

.star:nth-child(14) {
    top: 0;
    right: 35vw;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 3.7s;
    width: 8px;
}

.star:nth-child(15) {
    top: 0;
    right: -5vw;
    left: initial;
    animation-delay: .9s;
    animation-duration: 4.3s;
    width: 11px;
}

.star:nth-child(16) {
    top: 0;
    right: -25vw;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 5.3s;
    width: 9px;
}

.star:nth-child(17) {
    top: 0;
    right: -5vw;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 3.6s;
    width: 6px;
}

.star:nth-child(18) {
    top: 0;
    right: -45vw;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 4.4s;
    width: 8px;
}

@media (max-width: 1500px) {
    .skillIcons {
        width: 150px;
    }
}

@media (max-width: 1350px) {
    .skillIcons {
        width: 95px;
    }
}

@media (max-width: 650px) {
    .skillIcons {
        width: 100px;
    }

    .skillIconContainer {
        justify-self: center;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5vh;
    }

    .homeContainer {
        width: 100vw;
    }

    .homeContainer h1 {
        font-size: 70px;
    }

    .homeContainer h2 {
        font-size: 40px;
        padding: 1em;
    }
}

@media (max-width: 650px) {
    .homeContainer h1 {
        font-size: 52px;
    }

    .homeContainer h2 {
        font-size: 32px;
    }

    .skillIcons {
        width: 75px;
    }

    .initial {
        margin-top: -15vh;
        font-size: 65vh;
    }
}

@media (max-width: 850px) {
    .homeContainer h1 {
        font-size: 66px;
    }

    .homeContainer h2 {
        font-size: 40px;
    }

    .skillIcons {
        width: 90px;
    }

    .initial {
        margin-top: -5vh;
        font-size: 60vh;
    }
}

@media (max-width: 1100px) {
    .homeContainer h2 {
        font-size: 60px;
    }

    .skillIcons {
        width: 100px;

    }
}