@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

nav {
    display: flex;
    position: fixed;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    background: #32035a;
    z-index: 510;
    width: 100vw;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
    color: white;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration: none;
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    /* padding: .5em; */
    list-style-type: none;
    margin: 0em;
    box-sizing: border-box;
}

nav ul li {
    /* margin: 0em 1em; */
    font-size: 24px;
    font-family: 'Play', sans-serif;
    /* border: 1px solid yellow; */
    padding: .55em 1em;
    /* border-bottom: 3px solid black; */
    /* padding: 0 1em; */
    /* padding-bottom: 1em; */
    /* transition: border .5s ease-in; */
}

/* nav a:hover, */
nav ul li:hover {
    color: #40F99B;
    border-bottom: 3px solid #40F99B;
    margin-bottom: -3px;
}