.projectContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0em;
    border-bottom: 5px solid #40F99B;
}

.projectContainer h2,
.projectContainer h3,
.projectContainer p {

    color: black;
}

.projectContainer img {
    width: 105px;
    border-radius: 50%;
    margin: 2em;
    /* justify-self: center; */
    /* border: 3px solid red; */
}

.project {
    border: 2px solid black;
    width: 85%;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    margin: 1em;
}

.projectBlurb {
    background-color: black;
    padding: 1em 2em;
    width: 80%;
    text-align: center;
}

.projectBlurb h3 {
    color: #40F99B;
    font-size: 28px;
    font-family: 'Play';
}

.projectBlurb p {
    color: white;
    font-size: 20px;
    font-family: 'Radio Canada'
}

.projectBlurb a {
    text-decoration-color: #00a95B;
}

.projectBlurb a:visited {
    color: #40F99B;
}

.projectBlurb h3:hover {
    color: #54237a;
}

.projectBlurb a:hover {
    text-decoration-color: #74237a;
}

#projectIcon {
    width: 150px;
    height: 150px;
    border-radius: 0;
    justify-self: flex;
}

.projectLogo {
    margin: 0 auto;
}