.projectContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 102vh;

}

.projectContainer h2,
.projectContainer h3,
.projectContainer p {

    color: black;
}

.projectContainer img {
    width: 100px;
}