 * {
   box-sizing: border-box;
 }

 .App {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   background-color: #32035a;
 }

 h1 {
   color: #40F99B;
   font-size: 56px;
   margin: .25em;
   font-family: 'Play', sans-serif;
   font-weight: 400;
 }

 h2 {
   font-size: 6vh;
   text-align: center;
   z-index: 500;
   margin: 1em 0;
   font-family: 'Play', sans-serif;
 }